* {
	font-family: "Montserrat", sans-serif;
}
body {
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.07'%3E%3Cpolygon fill='%23222222' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23444444' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23666666' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23888888' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23aaaaaa' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23cccccc' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

h1, p {
	font-family: "Montserrat", sans-serif;
}

#Profile {
	height: 250px;
	width: 250px;
	border-radius: 50%;
}

footer {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.fa-crow, .fa-facebook, .fa-github, .fa-linkedin, .fa-instagram {
	font-size: 25px;
	color: white;
	margin: 0 10px 0 10px;
}

.fa-crow:hover, .fa-facebook:hover, .fa-github:hover, .fa-linkedin:hover, .fa-instagram:hover {
	color: grey;
}

#landing {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}